:root {
    --background-color-night: #111116ff;
    --border-color: #333333;
    --title-text: #FFFFFF;
    --text-color: #bebdc2ff;
    --text-color-2: #abb0baff;
    --pfp-color-1: #ed6561ff;
    --pfp-color-2: #fc64b5ff;
    --pfp-color-3: #b15cebff;
    --button-zone-inactive: #1e2931ff;
    --button-zone-active: #3b4c58ff;
    --button-zone-pink: #f4a1fcff;
    --button-zone-purple: #593a57ff;
    --button-zone--deep-purple: #332435;
    --button-zone-dark-purple: #261A25;
    --icons-color: #E96C9F;
}

body {
    background-color: var(--background-color-night);
    height: 100vh;
    overflow-y: hidden;
}

.center {
    text-align: center;
}

.main-body {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    height: 100%;
    transition: all ease 0.5s;
}

.main-body.two-columns {
    grid-template-columns: 0.286fr 2fr;
}

.overview-content {
    overflow-y: auto;
    max-height: calc(100vh - 7vh);
    margin: 3rem;
}

.overview-content::-webkit-scrollbar {
    display: none;
}

.overview-stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    color: white;
}

.stat-button {
    padding: 1rem 2rem;
    border-radius: 20px;
    background-color: #332435;
    display: flex;
    align-items: center;
    margin: 1rem;
}

.circles.circles-btn {
    width: 50px;
    height: 50px;
}

.creation-txt {
    margin-right: 0.5rem;
}

.success-txt {
    margin-right: 0.5rem;
}

.failure-txt {
    margin-right: 0.5rem;
}

.overview-pannels {
    color: white;
    display: flex;
    height: 70%;
    padding-top: 2%;
    justify-content: space-around;
}

.controlcenter-err-war {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-bottom: 4rem;
    padding-top: 2rem;
}

.controlcenter-txt p {
    margin-bottom: 0.5rem;
    text-decoration: underline;
    font-weight: 700;
    font-size: 1.5rem;
}

.overview-controlcenter {
    border-radius: 20px;
    width: 45%;
    background-color: #332435;
}

.controlcenter-title {
    font-weight: 800;
    font-size: 2rem;
    margin-top: 0;
}

.controlcenter-nb {
    font-size: 1.6rem;
}

.circles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #332435;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #E96C9F;
    margin: 0px auto 0;
}

.overview-tasks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recent-tasks {
    margin-bottom: 1rem;
}

.recent-tasks {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #332435;
    border-radius: 20px;
    font-weight: 500;
    font-size: 1.5rem;
    color: #fff;
}

.tasks-center {
    border-radius: 20px;
    padding-bottom: 1rem;
    background-color: #332435;
    padding-top: 1rem;
    padding-left: 6rem;
    padding-right: 6rem;
    margin: 1rem;
}

.running-tasks ul {
    list-style-type: none;
    padding: 0;
}

.running-tasks li {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.5rem;
    color: #fff;
}

.running-tasks {
    margin-bottom: 1rem;
}

.notification {
    overflow-y: auto;
    max-height: 100%;
}

@media (max-width: 768px) {
    body {
        overflow-y: auto;
    }

    .main-body {
        grid-template-columns: 1fr;
        height: auto;
        overflow-y: auto;
    }

    .overview-content {
        margin: 1rem;
        overflow-y: auto;
        padding-bottom: 3rem;
    }

    .overview-stats {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .stat-button {
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;
        margin: 0.5rem;
    }

    .overview-pannels {
        flex-direction: column;
        height: auto;
        padding-top: 1rem;
    }

    .overview-controlcenter {
        width: 100%;
        margin-bottom: 1rem;
    }

    .controlcenter-title {
        font-size: 1.5rem;
    }

    .controlcenter-txt p {
        font-size: 1.2rem;
    }

    .controlcenter-nb {
        font-size: 1.2rem;
    }

    .circles {
        width: 50px;
        height: 50px;
        font-size: 14px;
    }

    .tasks-center {
        padding-bottom: 5rem;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0rem;
    }

    .notification {
        max-height: 50vh;
    }

    .card {
        width: 90%;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }

    .card-grid {
        gap: 1rem;
    }

    .recent-tasks {
        margin-bottom: 1rem;
    }

    .running-tasks {
        margin-bottom: 1rem;
    }
}